<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h2>CUSTOM LOGIN</h2>
<div th:if="${param.error!=null}">
    <h2>Invalid Username or password</h2>
    <h2 th:value="${param.error}"></h2>
</div>
<div th:if="${param.logout != null}">
    <h2>이미 로그아웃..</h2>
</div>

<form method="post">
    <p>
        <label for="username">Username</label> <input type="text" id="username" name="username" value="user8"/>
    </p>
    <p>
        <label for="password">Password</label> <input type="password" id="password" name="password" value="pw8"/>
    </p>
    <p>
        <label for="remember-me">기억하기</label> <input type="checkbox" id="remember-me" name="remember-me"/>
    </p>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <button type="submit" class="btn">로그인</button>
</form>
</body>
</html>